:root{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  background-color: #ffffff;
  pointer-events: none;
}

.wrapper{
  min-height: 50vh;
  justify-content: center;
  display: flex;
}

.gridtop{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
}

.content1{
  width: 90%;
  padding: 3rem;
}

.top{
  color: #0e3c52;
  min-height: fit-content;
  padding: 5rem 0;
  width: 100%;
  font-size: larger;
  width: 70%;

}

.gridtop img{
  width: 90%;
  display: flex;
  align-items: center;
}

.content2{
   background-color: #0e3c52;
   width: 80%;
   padding: 3rem;
  color: white;
}

.gridbottom{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 3rem;
}

.grid1{
  grid-row: 1/3;
}

.gridbottom span{
  color: #0e3c52;
  font-size: larger;
  font-weight: 700;
  background-color: white;
  border-radius: 50%;
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin: .2rem;
}

.gridbottom b{
  color: #48b7eb;
  font-size: larger;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: medium;
  background-color: #0e3c52;
  margin: 5rem 0 0 0;
  min-height: 5rem;
}